PORT=5500
LOGIN_API_URL=https://kitty.report.sokrio.com/api/v1/login
USER_BULK_API_URL=https://kitty.report.sokrio.com/api/v1/user-bulk-download?&download
DAY_REPORT_API_URL=
DEFAULT_IDENTIFIER=super@kitty.com
DEFAULT_PASSWORD=password123
